body {
	font-family: $f-pt;
	font-size: 20px;
	line-height: 1.15;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $f-os;
	margin-bottom: 0.4em;
}

h1 {
	font-size: 2em;
}

a {
	color: $c-accent;
	
	&:hover, &:active, &:focus {
		color: $c-accent;
	}
}

textarea {
	min-height: 80px;
}

.heading {
	padding: 20px 0 5px;

	&--centered {
		text-align: center;
	}
}