.form-block {
	padding: $gutter * 2;
	background-color: $c-light;

	& + & {
		position: relative;
		margin-top: 20px;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			bottom: 100%;
			margin-left: -4px;
			width: 8px;
			height: 20px;
			background-color: $c-light;
		}
	}
}

.participants {
	&__block {
		padding: 10px 0;

		& + & {
			border-top: 2px dotted $c-dark-rgba-faded;
		}
	}
}

.reg-link {
	text-align: right;
}
