$c-accent: #357ebd;
$c-dark: #293A43;
$c-light: #e3e3e3;
$c-white: #fff;
$c-dark-bg: #434c56;

$c-border: #ddd;
$c-border-active: #bbb;

$c-white-transparent-4: rgba(255,255,255,.4);
$c-white-transparent-6: rgba(255,255,255,.6);
$c-white-transparent-2: rgba(255,255,255,.2);

$c-dark-rgba-faded: rgba(41, 58, 67, 0.8);

$gutter: 15px;
$max-width: 920px;

$f-pt: 'PT Sans', sans-serif;
$f-os: 'Oswald', sans-serif;

$i-header-bg: url(/img/stock/1.jpg);
$i-main-bg: url(/img/stock/5.jpg);
$i-grid-bg: url(/img/stock/5.jpg);

$screen-md: 768px;
$screen-lg: 992px;
