$c-accent: steelblue;
$c-dark: #293A43;
$c-light: #e3e3e3;
$c-white: #fff;
$c-dark-bg: #434c56;

$c-border: #ddd;
$c-border-active: #bbb;

$c-white-transparent-4: rgba(255,255,255,.4);
$c-white-transparent-6: rgba(255,255,255,.6);
$c-white-transparent-2: rgba(255,255,255,.2);

$c-dark-rgba-faded: rgba(41, 58, 67, 0.8);

$gutter: 15px;

$f-pt: 'PT Sans', sans-serif;
$f-os: 'Oswald', sans-serif;

